body {
    background: linear-gradient(#585b61, #77787d);
    /*background-image: url("        ");*/
    border: 0px;
    margin: 0px;
    width: auto;
    height: auto;
}

p {
    font-family: arial;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 5px;
}

header {
    background-color: #fff;
}

footer {}

.main {}

.logo {
    margin-left: 25px;
    
}

/* Meny */

nav {
    width: auto;
    margin: auto;
    text-align: center;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    background: #efefef;
    padding: 0 20px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after {
    clear: both;
    display: block;
}

nav ul li {
    float: left;
    width: 150px;
}

nav ul li:hover {
    background: #4b545f;
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block;
    padding: 25px 40px;
    color: #102b72;
}

nav ul ul {
    background: #5f6975;
    border-radius: 0px;
    padding: 0px;
    position: absolute;
    top: 100%;
}

.meny{
background-color: #efefef;
height: 85px;
/*
START CSS OM OSS
Sindre endrer CSS for om oss
*/

#bilderOmOss {
    width: 1300px;
    border-style: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
}

#bilderOmOss img {
    margin-left: 50px;
    max-height: 200px;
    max-width: 200px;
    border-radius: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#omArticle {
    width: 1300px;
    height: 600px;
    border-style: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
}

#txtSindre {
    width: 300px;
    height: 600px;
    border-style: solid;
    border-color: black;
    margin-left: 28%;
}

#txtFredrik {
    width: 300px;
    height: 600px;
    border-style: solid;
    border-color: black;
}

#txtBerzi {
    width: 300px;
    height: 600px;
    border-style: solid;
    border-color: black;
}

#txtAli {
    width: 300px;
    height: 600px;
    border-style: solid;
    border-color: black;
    margin-left: 15%;
}

#txtTore {
    width: 300px;
    height: 600px;
    border-style: solid;
    border-color: black;
}


/*
SLUTT CSS OM OSS
*/
