body {
    background: linear-gradient(#585b61, #77787d);
    /*background-image: url("        ");*/
    border: 0px;
    margin: 0px;
    width: auto;
    height: auto;
}

p {
    font-family: arial;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
	font-size: 5px;
}

header {
/*<<<<<<< HEAD*/
    background-color: #fff;    
/*=======
>>>>>>> origin/master*/
}

footer {

}

nav {
    margin-left: auto;
    margin-right: auto;
    width: 1279px;
    text-align: center;
    text-decoration: none;

}

nav ul ul {
    display: none;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

nav ul li:hover > ul {
  display: block;

}

nav ul {
    background: #efefef;
    box-shadow: 10px 10px 10px 10px (#000);
    border-radius: 10px, 10px, 10px, 10px;
    list-style: none;
    /*position: relative;*/
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1279px;
    text-align: center;
    text-decoration: none;
}

nav ul:after {
    clear: both;
    display: block;
    text-align: center;
    text-decoration: none;
}

nav ul li {
    float: left;
    width: 150px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

nav ul li:hover {
    background: #4b545f;
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block;
    padding: 25px 40px;
    color: #102b72;
}

nav ul ul {
    background: #5f6975;
    border-radius: 0px;
    padding: 0px;
    position: absolute;
    top: 100%;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.main {}

/*
START CSS OM OSS
Sindre endrer CSS for om oss
*/
#bilderOmOss{
  width: 1300px;
  border-style: solid;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
}

#bilderOmOss img{
  margin-left: 50px;
  max-height: 200px;
  max-width: 200px;
  border-radius: 100px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#omArticle{
  width: 1300px;
  height: 600px;
  border-style: solid;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
}


#txtSindre{
  width: 250px;
  height: 600px;
  border-style: solid;
  border-color: black;
  margin-left: 21%;
  margin-top: -47%;
}

#txtFredrik{
  width: 250px;
  height: 600px;
  border-style: solid;
  border-color: black;
  margin-top: -46.5%;
  margin-left: 60%;
}

#txtBerzi{
  width: 250px;
  height: 600px;
  border-style: solid;
  border-color: black;
  margin-top: -46.5%;
  margin-left: 41%;
}

#txtAli{
  width: 250px;
  height: 600px;
  border-style: solid;
  border-color: black;
  margin-left: 1%;
}

#txtTore{
  width: 250px;
  height: 600px;
  border-style: solid;
  border-color: black;
  margin-top: -46.5%;
  margin-left: 80%;
}

#omArticle h3{
  text-align: center;
}
/*
SLUTT CSS OM OSS
*/

/*
CSS TJENESTER START
*/
#oppsett {

}

