body {
    background: linear-gradient(#585b61, #77787d);
    /*background-image: url("        ");*/
    border: 0px;
    margin: 0px;
}

p {
    font-family: arial;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
	font-size: 5px;
}

header {
	background-color: #fff;
}

footer {

}

.main {

}

/*
START CSS OM OSS
Sindre endrer CSS for om oss
*/
#bilderOmOss{
  border-style: solid;
  border-color: black;
}

#bilderOmOss img{
  max-height: 300px;
  max-width: 300px;
  border-radius: 150px;
}
/*
SLUTT CSS OM OSS
*/
